html{
	width:100%;
	height:100%;
}

body{
	background:#ebeaea;
	width:100%;
	height:100%;
	font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	color:#4f4747;
}

ul{
   padding: 0;
   margin: 0;
}
ul li{
	list-style:none;
}

.title{
	font-family: Tahoma;
	font-weight: bold;
	margin-top:0;
	padding-top:2.0%;
	padding-bottom:1.0%;
}

p{
   padding: 0;
   margin:0;
   color:#4f4747;
   font-size:15px;
}
.post-content p,.note-content p {
	padding-bottom: 2.50%;
}

a:hover{
	text-decoration:none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* ----------- List Panels  -------*/
.list-panels{
	padding-left: 0;
	margin-bottom: 5px;
	background-color: transparent;
}
.list-panels-item{
	position: relative;
	display: block;
	padding: 0 15px 30px 15px ;
	margin-bottom: -1px;
	background-color: transparent;
	border: 1px solid transparent;
}
/* ----------- List Decoration  -------*/
.list-decoration{
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 12px;
	margin-left: 15px;
}
li.list-decoration-item{
	list-style-image: url(../img/list_ico.png);
	margin-left: 3px;
		padding-left: 0px;
		padding-bottom:2px;
		padding-top:2px;
}
.list-decoration-link{
	padding: 0; margin: 0;
	padding-left: 3.0%;
	position: relative;
	display: block;
	color:#4f4747;
	font-size:15px;
	line-height: 1.5;
}
.list-decoration-link:hover{
	text-decoration: underline;
}

/* ----------- Button   -------*/
.btn{
	color:#fff;
		/* Gradient */
		background: #aebfaf; /* Old browsers */
		background: -moz-linear-gradient(top,  #aebfaf 0%, #86a08c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #aebfaf 0%,#86a08c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #aebfaf 0%,#86a08c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfaf', endColorstr='#86a08c',GradientType=0 ); /* IE6-9 */
		/* END Gradient */
	
	border: 1px solid #b0c0b0;
	border-radius: 0px; 
		/* Shadow */
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, .65);	 
}

/* ----------- Panel   -------*/
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid transparent;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .65);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, .65);
}

/* ----------- Pagination   -------*/
.pagination {
	margin: 0 0 20px 20px;
 }
.pagination > li > a,
.pagination > li > span {
	color: #4f4747;
	margin:0 3px;
	text-decoration: none;
	background-color: #bdc8bd;
	border: 1px solid transparent;
	
}
li.page_of span:hover {
	color: #4f4747;
	background-color: #bdc8bd;
	border: 1px solid #bdc8bd;
	cursor: default;
}

/* ----------- Panel Post  -------*/
 .panel-post{
	position:relative;
	margin-bottom: 30px;
 }
 
 .panel-post .panel-heading{
	 overflow:hidden;
	 position:relative;
	 padding: 1px 19px ;
	 margin:-1px -4px;
	 border-radius: 0px;
	 border: none;
	 background-color: #ebeaea; 
 }
 
 .panel-post .panel-footer {
	padding: 10px 0;
	margin:	0 15px;
	background-color: transparent;
	border-radius: 0;
	border-top: 1px solid #d4d2d3;
}

/* -----------  Note  -------   */
.about-title{
	color:#74927b;
	font-size:16px;
}
.note-title-big{
   font-size:27px;
   color:#74927b;
}  

.illustrations{
	padding:12px;
	
}

img.note-img-big{
	width:100%;
}
img.note-img-small{
	width:100%;
}		
.note-img-small{
	margin: -10px -10px;
}


.note-title{
	font-weight: normal;
	font-size:24px;
	
}
/* -----------  Post  -------   */

.post-date-created{
	color:#4f4747;
	background:#b5c3b5; 
	padding: 5px 19px;
	margin-top:3px;
	float:left;	
}

.post-date-created:before{
	 content: "";
	 display:block;
	 position:absolute;
	 left:19px;
	 top:1px;
	 width:100%;
	 height:3px;
	 background:url(../img/bg_date_post.png) left top no-repeat; 
} 

img.post-img{
	width:100%;
}
.post-title{
	font-size:20px;
	color:#74927b;
}

/*

*/

a.post, a.note{
	font-style: italic;	
	color:#9db1a2;
    text-decoration: underline;
}
a.post:hover, a.note:hover{
	color: #23527c;
    text-decoration: none;
}

.post-categories {
	overflow:hidden;
}
.post-categories span{
	color:#74927b;
	font-style: italic;
	font-weight: bold;
	margin-right:3px;
	float:left;
}
.post-categories-link{
	color:#4f4747;
}
.post-categories-link:hover{
	text-decoration: underline;
}

/* ----------- Panel Icon from Sidebar  -------*/
.panel-ico{
	max-width: 30px;
	max-height: 30px;
	margin-left: -40px;
	float:left;
}
.panel-icon {
  border-color: #d5ddd5;
  padding-top:4px;
}
.panel-icon .panel-heading {
  overflow :hidden;
  padding: 10px 15px 10px 55px;
  text-transform:uppercase;
  font-size:18px;
}
.panel-icon > .panel-heading {
  color: #fefefe;
  border-radius: 0;
  background-color: #b0c0b0;
  border-color: #d5ddd5;
}
.panel-icon > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d5ddd5;
}
.panel-icon > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-icon > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d5ddd5;
}

/* ----------- Form  Search -------*/
.block-search{
  overflow:hidden;
  padding: 0 5px; 
}
.block-search:before {
  content: "";
  clear: both;
}
.block-input{
	width:75.0%;
	padding-left:4.0%;
	padding-right:4.0%;
	float:left;
}
.block-button{
	width:15.0%;
	height:50px;
	float:left;  
}
#inputSearch{
	background-color: #f1f0f1;
	border: 1px solid #c4c3c4;
	border-radius: 0px;
}

.btn-search{
	width:45px;
	height:35px;
}

/* ----------- Wrapper   -------*/
.wrapper{
	min-height:100%;
	overflow:hidden;
	position:relative;
}
/* =============================================================*/
/* =============================================================*/
/* ----------- Header   -------*/
.header{
	background:#4f4747;
	color:#a9a5a5;
	-webkit-box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .85);
          box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .85);
}
.logo{
	text-align:center;
	padding-top:30px;
}
.logo_link{
   display:inline-block;
   text-decoration:none;	
}
.logo_img{
	max-width:190px;
	max-height:45px;
}

/* ----------- Header Nav  font-weight:bold;   -------*/
li.active > a,
li.active > a:hover,
li.active >a:focus{
	
	color:#d3d3d3;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, .85);
}
.header_nav{
	padding:20px 0;
}
.header_nav-item{
	margin:0 3.5%;
}
.header_nav-link{
	color:#a9a5a5;
}
.header_nav-link:hover{
	color:#d3d3d3;
}
/* ===================   Slider   =========================*/
.block-slider{
	overflow:hidden;
	margin:70px 0;
	min-height:340px;
	background:transparent;
}
.panel-carousel-inner{
	padding: 10px ;
}

.panel-carousel-clarification{
	margin-top:90px;
	margin-right:0px;
	margin-left:-3px;
	padding: 10px ;
	background-color: #fafafa;
}

.block-carousel-indicators{
	background-color: transparent;
	max-width:200px;
	margin-right:5px;
}

.carousel-indicators {
	display: inline-block;
	  width: 100%;
	  height: 100%;  
	position:relative;  
	  top: 0px;
	  left: 0px;
	  z-index: 10;
    list-style: none;
	text-align: justify;
	margin-left: 2px;	
}
.carousel-indicators li {
  width: 100%;
  cursor: pointer;
  text-indent: inherit;
  background-color: transparent;
  padding-left:15px;
  margin: -1px;
  border: 1px solid transparent;
  border-radius: 0px;
}
.carousel-indicators .active {
   width: 100%;
   height: 0;
   border: 0;
  color:#b0c0b0;
  background-color: #eceaeb;
}
.item{
	overflow:hidden;
	background-color: #eceaeb;
	padding:15px;
}
.carousel-img{
	background-color: transparent;
	max-width:350px;
	min-height:260px;
	float:left;
}
.item img{
	max-width:319px;
	min-height:255px;	
}
.carousel-caption-block {
	overflow:hidden;
	background-color: transparent;
	padding: 20px;
	margin-left:20px;
  	color: #4f4747;
	text-align: left;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
}

.carousel-caption-block .caption-title{
	font-weight: bold;
	margin-bottom:15px;
}
.caption-btn{
	margin-top:10px;
}

.left-carousel-control{
	display:inline-block;
	width: 18px;
	height: 25px;
	background:url(../img/left_arrow.png) left top no-repeat;
		margin: 10px 10px 0px 20px;
}
.right-carousel-control{
	display:inline-block;
	width: 18px;
	height: 25px;
	background:url(../img/right_arrow.png) left top no-repeat;
		margin-top:10px;
		margin-left: 20px;
}

/* =================== END  Slider   =========================*/

/* -----------   Section Main    -------*/
.section-main{
	margin-top:2.5%;
}

/* -----------   Content Main Top   -------*/
.content-main-top{
   margin-top:2.5%;	
}
/* -----------   Content Main   -------*/


.content-main{
	min-height:340px;
	background:transparent;
}

/* -----------   Sidebar (Right)   -------*/
.sidebar{
	min-height:340px;
	background:transparent;
}

/* -----------   +++   -------*/
.empty{
	height:115px;
}

/* ----------- Footer   -------*/
.footer{
	height:90px;
	margin-top:-90px;
	position:relative;	
	color:#a9a5a4;
}
.foot_border{
	height:25px;
	width:100%;
	background: url(../img/foot_bord.png) top center no-repeat;
}
.foot_soc-ico:hover {
	filter: alpha(Opacity=60);
    opacity: 0.6;
}